/*page1*/

.padre-uno{
    display:block;
    width: 1500px;
    height: 100px;
    color:white;
    background-color: black;
    /*position:absolute;*/
    border:2px solid rgb(64, 71, 50);    
   /* align-items: center;*/
    justify-content:left;
    padding: 10px;
    margin: 5px;
}

/*
.padre-uno{
    width: 1500px;
    height: 100px;
    /*position:absolute;
    border:1px solid rgb(64, 71, 50);    
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
   /* align-items: center;
    justify-content: space-around;
}
*/
.padre-unoA{
    width: 600px;
    height: 30px;
    /*position:absolute;*/
    border:1px solid rgb(64, 71, 50);    
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
   /* align-items: center;*/
    justify-content:space-around;
}
.padre-unoB{
    width: 600px;
    height: 30px;
    /*position:absolute;*/
    border:1px solid rgb(64, 71, 50);    
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
   /* align-items: center;*/
    justify-content:right;
}
.box-cero{
    color:black;
    background-color:rgb(38, 23, 23);
    display:inline;
    padding:10px;
    margin:10px;
}
.padre-dos{
    color:#F5F4FA;
    background-color:black;
    width: 1500px;
    height: 200px;
    /*position:absolute;*/
    border:1px solid blue;    
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-around;*/
}

.box-uno{
    border:1px solid red;
    margin: 3px;
    padding:1px;
    display:inline;
}
.box-dos{
    color:#F5F4FA;
    background-color:blue;
    display:inline;
    /*padding:10px;*/
    /*margin:10px;*/
}
.piepagina{
    color:#F5F4FA;
    background-color:black;
    position:absolute;
    width: 1500px;
    height: 130px;
    left: -4px;
    top: 80px;
}
.button-sn::before{
    content:"" ;
    top:0;
    left:0;
    z-index: -1;
    width: 80px;
    height: 50px;
    background:linear-gradient(45deg,red, blue) ;
    background-size: 800%;
    border-radius:10px;
    filter: blur(8px);
    animation: glowing 20s linear in infinite;
}

.button-sn{
    color: white;
    font-size: 14px;
    border: 2px solid var(--main-title-color);
    border-bottom:25px;
    background-color:blue;
    padding: 10px;
}

/*header of page */
h2.colorblue{
    color:blue;
    font-size: 10px;
}

h2.colorsize{
    color:blue;
    font-size: 10px;
}

h2.size{
    font-size: 14px;
}

/*next line*/
h3.colors{
    color:black;
    background-color:#F5F4FA;
}
:root{
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --accent-color:#ff6c00;
    --second-text-color: #9da4bd;
    --font-family: 'sans serif';

}

html {
    scroll-behavior: smooth;
}

.header-btn{
    color: black;
    font-size: 14px;
    border: 2px solid var(--main-title-color);
    border-bottom:25px;
    background-color:grey;
    padding: 10px;
}

.header-btn:is(:hover, :focus){
    color: var(--accent-color);
    border-color: var(--main-title-color)
}

/* footer*/

.header-phone{
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    letter-spacing:0.1em;
    color: gray;
}

/*imagenes*/
h4{
    color:gray;
}

/*
.titulo{
    color:gray;
}

botton{
    color:while;
    background-color:black;
}

botton:hover{
    color:black;
    background-color:while;
    border:solid;
}

.on-hover:hover{
    color:white;
}

colora{
    color:red;
}

.text_align_center{
    text-align: center;
}

.text_align_right{
    text-align: right;
}

.index{
    text-indent:50px;
}

.letter-spacing{
    font-weight: 600;
    font: size 24px;
    line-height: 60px;
    vertical-align: botton;
    font-family: 'Roboto';
}
*/